@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    /*  border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
    color: #363740;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
}

.header {
    height: auto;
    border-radius: 20px 20px 0px 0px;
    background-color: #363740;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 18px;
    padding-right: 20px;
}

.nav-item:hover {
    background-color: #152526;
    border-radius: 20px;
    transition: 0.4s;
}

.nav-link {
    height: auto;
    padding: 0 20px;
    line-height: 60px;
    text-decoration: none;
    color: #E2D8CE;
}

.main {
    background-color: #ffffff;
}

.aside {
    min-height: calc(100vh - 205px);
    float: left;
    width: 40%;
    background-color: #E2D8CE;
    padding: 16px;
    flex: 1;
}

.article {
    min-height: calc(100vh - 205px);
    float: right;
    width: 60%;
    background-color: #ffffff;
    padding: 16px;
}

.avatar {
    margin-top: 2px;
    margin-bottom: 2px;
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    height: 160px;
    font-size: 24px;
    text-align: center;
}

.job {
    font-size: 18px;
}

.projects-item {
    text-decoration: none;
    color: #363740;
}

.projects-item:hover {
    text-decoration: underline;
}

.footer {
    border-radius: 0px 0px 20px 20px;
    height: auto;
    background-color: #363740;
    display: flex;
    padding: 20px;
}

.footer-left {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: left;
    color: #E2D8CE;
    width: 50%;
    padding: 2px 2px 2px 2px;
}

.footer-right {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: right;
    width: 50%;
    padding: 2px 2px 2px 2px;
}

.github-link {
    text-decoration: none;
    color: #E2D8CE;
    padding: 10px;
}

.github-link:hover {
    text-decoration: underline;
    ;
    color: #E2D8CE;
}

.rss-logo {
    height: 45px;
}

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}